#### **Partner Team Roles**

{{ table(['**Role**', '**Role Description**'], role_rows(partner_roles)) }}

#### **Customer Team Roles**

{{ table(['**Role**', '**Role Description**'], role_rows(customer_roles)) }}
